body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

* {
    list-style: none;
    text-decoration: none;
    color: white;
}

.container {
    width: 80%;
    height: auto;
    margin: auto;
}